*.o
*.mod.o
*.mod.c
*.cmd
*.ko
*.mod
*.symvers
modules.order

llama.cpp

.idea
.vs
.vscode

*resolve-gpa
*page-table-attack
*split_single_page
*probe-mwait
*load-probe
*tsx-probe
*contend-code
*split-single-page
